
  <img src ="https://cace-static.s3-us-west-2.amazonaws.com/uploads/socios/1214/clubviajando-logo-baja-cace.png" class="logo">

  <div class= "portada">

  <p class="description ">www.clubviajando.com es la principal plataforma de venta de pasajes en bus y paquetes turísticos online de Argentina. Donde podrás comprar tus pasajes en bus a mas de 6 mil destinos nacionales e internacionales, vas a poder comparar y elegir el servicio que mas se adapte a tus necesidades entre mas de 70 empresas y con la posibilidad de pagarlo hasta en 18 cuotas. En la sección paquetes encontrarás las mejores ofertas para tus vacaciones en argentina viajando en bus o en avión. Siempre con la facilidad de gestionar tu reserva de manera 100% online. Luego de comprar recibirás un email con tu voucher de viaje y ya estás listo para viajar</p>

  </div >

